<div class="text-center" id="blog" value={{blog.id}}>
  <h2 id="blog-title">{{blog.title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p id="blog-context">{{blog.context}}</p>
  <p>Created by {{user.name}} on {{format_date blog.date_created}}</p>
  {{#if (isAuthor blog.user.id user_id) }}
    <button class="no-button" id="edit-button">Edit</button>
  {{/if}}
</div>

<div id="comment">
  <h3>Comment</h3>
  {{#each comments as |comment| }}
  <p>{{comment.context}}</p>
  <p style="color:blue;font-style: italic;">Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
  {{/each}}
</div>


